html {
    font-size:16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

a{
    color:currentColor;
    text-decoration: none;
}

.container {
    max-width: 1024px;
    margin:0 auto;
    border:2px dashed rgb(23, 23, 245,0.2);
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.row [class^="col-"]{
    float: left;
    padding: 0 15px;
}
.row [class^="col-"]:first-child{

   padding-left:0;
}

.row [class^="col-"]:last-child{
padding-right: 0;
}
.col-6{
    width: 50%;
}

.col-3{
    width: 25%;
}

.col-12{
    width: 100%;
}
    /* debug rules */

.module{
    padding: 20px;
    background-color: rgb(57, 233, 124);
    border-radius: 5px;
    color: white;
}
.debug header .container{
    background-color: rgb(160, 68, 247,0.2);
    /* padding: 20px; */
}

.debug section {
    border:1px solid;
    /* padding: 20px 10px; */
}



.debug footer .container {
    background-color:rgb(250, 168, 141,0.2);
}

.debug #jumbo .container{
    background-color: rgb(244, 164, 96,0.2);
    min-height: 250px;
}
.debug #main-content .container{
    /* min-height: 500px; */
    background-color: rgb(175, 165, 238,0.2);
}

.debug .row{
    border: 4px double red;
    padding: 20px;
}
.debug .row [class^="col-"] {
    border:2px solid brown;
    /* padding: 20px; */
}

/* LOGO + NAV */
header{
    padding-top:0;
    
}

#logo{
    height: 72px;
}
#nav-list {
    padding-top: 45px;
}

#nav-list li{
    text-transform: uppercase;
    list-style: none;
    display: inline;
    color: gray;
    margin-right:10px;
}